/exampleCodes/__pycache__/
/exampleCodes/TestData/
/exampleCodes/TestImages/

/locExpCode/stimuli/
/locExpCode/data/
/locExpCode/__pycache__

/mainExpCode/stimuli/
/mainExpCode/noiseFrames/
/mainExpCode/data/
/mainExpCode/__pycache__

/stimuli_matlab/*.mat
/stimuli_matlab/*.bmp
/stimuli_matlab/AmpPlotExp/*.mat
/stimuli_matlab/AmpPlotExp/*.bmp
/stimuli_matlab/01greenback/
